:root{
    --primary-color: #EC615B;
    --secondary-color: #5222D0;
}

body{
    font-family:'Fruktur', cursive;
}

h1{
    color: var(--primary-color);
}

h2{
    color: var(--secondary-color);
}

#primary{
  color: var(--secondary-color);
}

#secondary{
    color: black;
}

/* button{
    color: var(--primary-color);
} */